.app-time {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-time span {
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}