<div class="app-footer">
  <div class="sub-wrapper">
    <span class="material-icons">
      unarchive
    </span>
    <span class="material-icons">
      chat_bubble
    </span>
  </div>
  <div class="sub-wrapper">
    <span class="material-icons">
      group
    </span>
    <span>
      22
    </span>
  </div>
  <div class="sub-wrapper">
    <span class="material-icons">
      more_horiz
    </span>  
    <span class="material-icons">
      volume_up
    </span>
    <span class="material-icons">
      fullscreen_exit
    </span>
  </div>
</div>